@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
:root {
    --lilac: #BCADE8;
    --pink: #EAA2B3;
    --green: #9BD9BB; 
    --title-lilac: #887DA9;
    --title-pink: #A47681;
    --title-green: #74A18C;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #F6F6F6;
}

header, main {
    width: 90%;
    margin: auto;
}

a {
    color: black;
}

nav.classic-menu {
    position: fixed;
    top: 0px;
    right: 5px;
    background-color: #F6F6F6;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

nav.classic-menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 10vw;
    text-decoration: none;
    list-style: none;
    margin: 20px 20px 0 0;
    font-size: 0.85rem;
}

nav.classic-menu ul li a {
    text-decoration: none;
}

.burger {
    display: none;
    appearance: none;
    background: none;
    outline: none; 
    border: none;
    position: fixed;
    z-index: 100;
    right: 10px;
}

.burger .bar, .burger:after, .burger:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(56, 56, 56);
    margin: 5px 0;
    transition: all 0.4s ease;
    border-radius: 10px;
}

.burger.active:before {
    transform: rotate(-45deg) translate(-8px, 4px);
}

.burger.active:after {
    transform: rotate(45deg) translate(-8px, -3px);
}

.burger.active .bar {
    opacity: 0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #F6F6F6;
    display: block;
    z-index: 98;
    padding-top: 120px;
    transition: all 0.4s ease-in;
}

.mobile-menu ul {
    list-style: none;
}

.mobile-menu.active {
    left: 0;
    transition: all 0.4s ease-in;
}

.mobile-menu a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 15px;
}

.about-me {
    display: flex;
    margin-top: 5%;
}

.about-me .description, .about-me .profile {
    width: 50%;
    margin: 5vw;
}

.about-me .profile h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 10px;
}

.about-me .profile h3 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
}

.about-me .profile h2:nth-child(2) {
    position: relative;
    left: 88px;
    margin-top: -10px;
}

.about-me .profile .profil {
    background-image: url('./media/profil.jpg');
    background-size: cover;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    margin: 20px;
}

.about-me .description h3 {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 5px;
}

.about-me .description {
    margin-top: 20vw;
}

.about-me .description p {
    text-transform: none;
    margin: 20px 0 30px 0;
    text-align: justify;
}

div.fancy-cv a {
    color: #000;
    padding: 8px;
}

.fancy-cv-pic {
    width: 70px;
    height: 70px;
}

.skills {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.skills .hardskills {
    width: 60%;
    margin-left: 3%;
}

h3 {
    text-align: center;
    letter-spacing: 5px;
    margin: 40px;
}

.hardskills h5 {
    font-size: 0.8rem;
}

.hardskills .highlight {
    font-weight: 600;
}

.skills .hardskills ul {
    margin: 20px 0 30px 0;
    font-size: 0.8rem;
    text-transform: none;
}

.hardskills p {
    font-size: 0.6rem;
    text-transform: none;
    text-align: end;
}

.resume {
    width: 90%;
    margin-left: 10%;
}

.resume h5 {
    text-align: center;
}

.resume h3 {
    text-transform: lowercase;
}

.resume .front h5 {
    color: var(--title-lilac);
}

.resume .back h5 {
    color: var(--title-pink);
}

.resume .other h5 {
    color: var(--title-green);
}


.resume .front, .resume .back, .resume .other {
    margin: 30px 0 30px 0;
}

.display {
    display: inline-block;
    background-color: var(--lilac);
    padding: 0.7rem;
    border-radius: 50px;
    font-size: 0.8rem;
    margin: 10px;
}

.pink {
    background-color: var(--pink);
}

.green {
    background-color: var(--green);
}

#projects {
    padding-top: 5%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0 2rem 0;
}

.card {
    margin-top: 2vh;
}

.card-head {
    padding: 0.3rem;
    text-align: center;
    margin-top: 15px;
}

.card-body {
    text-align: center;
    width: 90%;
}

.card-body p {
    margin-top: 10px;
    text-transform: none;
    font-size: 0.9rem;
}

.br-img {
    background-image: url('./media/bordeauxrose.png');
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    margin-bottom: 20px;
}

.dg-img {
    background-image: url('./media/dicegame.png');
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 350px;
    margin-bottom: 20px;
}

.fg-img {
    background-image: url('./media/flyandgo.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 350px;
    margin-bottom: 20px;
}

.cb-img {
    background-image: url('./media/clipboard.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 350px;
    margin-bottom: 20px;
}

.contact {
    width: 60%;
    margin: 5% auto 10% auto;
    padding: 12%;
    background-image: url("./media/contact-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact div {
    margin: 30px 0;
    font-size: 0.8rem;
}

.linkedin a {
    text-decoration: none;
}

.contact .location, .contact .mail, .contact .tel, .contact .cv, .contact .linkedin {
    display: flex;
    align-items: center;
}

.contact .location img, .contact .mail img, .contact .tel img, .contact .cv img, .contact .linkedin img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
    nav.classic-menu {
        display: none;
    }

    .burger {
        display: block;
    }


    .about-me {
        flex-direction: column;
        width: 90%;
    }

    .about-me .profile {
        padding-top: 20%;
    }

    .about-me .description, .about-me .profile {
        width: 100%;
        margin: 5vw;
        text-align: center;
    }

    .about-me .profile h2:nth-child(2) {
        left: 0px;
    }

    .about-me .profile .profil {
        width: 300px;
        height: 300px;
        margin: 20px auto;
        background-position: center;
    }

    .skills {
        flex-direction: column;
    }

    .skills .hardskills {
        width: 100%;
        padding: 5%;
    }

    .resume {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .cards {
        display: block;
    }

    .card {
        margin: 60px auto;
    }

    .cb-img, .br-img, .dg-img, .fg-img {
        width: 100%;
    }

    .card-body {
        width: 100%;
    }
    .contact {
        width: 90%;
    }
}

