@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
:root {
    --lilac: #BCADE8;
    --pink: #EAA2B3;
    --green: #9BD9BB; 
    --title-lilac: #887DA9;
    --title-pink: #A47681;
    --title-green: #74A18C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #E6E6E6;
}

header, main {
    width: 90%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 10vw;
    text-decoration: none;
    list-style: none;
    margin: 20px 20px 0 0;
    font-size: 0.85rem;
}

.about-me {
    display: flex;
}

.about-me .description, .about-me .profile {
    width: 50%;
    margin: 5vw;
}

.about-me .profile h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 10px;
}

.about-me .profile h3 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
}

.about-me .profile h2:nth-child(2) {
    position: relative;
    left: 88px;
    margin-top: -10px;
}

.about-me .profile .profil {
    background-image: url('/media/profil.jpg');
    width: 345px;
    height: 345px;
    border-radius: 50%;
    margin: 20px;
}

.about-me .description h3 {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 5px;
}

.about-me .description {
    margin-top: 20vw;
}

.about-me .description p {
    text-transform: none;
    margin: 20px 0 30px 0;
    text-align: justify;
}

div.cv a {
    color: #000;
    padding: 8px;
}

.cv-pic {
    width: 70px;
    height: 70px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills .hardskills {
    width: 50%;
}

.hardskills h3, .resume h3 {
    text-align: center;
    letter-spacing: 5px;
    margin: 20px;
}

.hardskills h5 {
    font-size: 0.8rem;
}

.skills .hardskills ul {
    margin: 20px 0 30px 0;
    font-size: 0.8rem;
    text-transform: none;
}

.hardskills p {
    font-size: 0.6rem;
    text-transform: none;
    text-align: end;
}

.resume {
    width: 90%;
    margin-left: 10%;
}

.resume h5 {
    text-align: center;
}

.resume h3 {
    text-transform: lowercase;
}

.resume .front h5 {
    color: var(--title-lilac);
}

.resume .back h5 {
    color: var(--title-pink);
}

.resume .other h5 {
    color: var(--title-green);
}


.resume .front, .resume .back, .resume .other {
    margin: 30px 0 30px 0;
}

.resume p {
    display: inline-block;
    background-color: var(--lilac);
    padding: 0.7rem;
    border-radius: 50px;
    font-size: 0.8rem;
    margin: 10px;
}

.resume .back p {
    background-color: var(--pink);
}

.resume .other p {
    background-color: var(--green);
}